@import "tailwindcss";

@theme {
    --color-fade: #9A9A9A;
    --color-FormFocusRing: #3B82F6;
    --color-desc: #454745;
    --color-grey: #F5F5FF;
    --color-accent: #948EEE;
}

body {
  font-family: "DM Sans", sans-serif;
}
